.DS_Store
.vscode/
coverage/
errorShots/
logs/
mochawesome-report/
node_modules/
results/
out/
**/downloads/
**/localRun/
**/wip/
*.exe
*.bat
*.jar
*.txt
*.log
**.sw*
.env
id_rsa
PuttyPrivBetter
test.html
tags
.ctags
wdioLocal.conf.js
wdio-local.conf.js
